<!-- tools -->
{% if site.locale and site.locale != "" and site.locale != nil %}

  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].tools.section | default: "tools" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-lowercase">{{ site.data.sitetext[site.locale].tools.title | default: "tools" }}</h2>
          {% if site.data.sitetext[site.locale].tools.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].tools.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row text-center">
	    {% for tools in site.data.sitetext[site.locale].tools.list %}
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary icon">
              <i class="{{ tools.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            </i>
          </span>
          <a class="service-link" href="{{ tools.url }}" target="_blank"><h4 class="service-heading">{{ tools.title | markdownify }}</h4></a>
          {% if tools.desc %}<div class="text-muted">{{ tools.desc | markdownify }}</div>{% endif %}
        </div>
	    {% endfor %}
      </div>
    </div>
  </section>

{% else %}

<section class="page-section" id="{{ site.data.sitetext.tools.section | default: "tools" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.tools.title | default: "tools" }}</h2>
        {% if site.data.sitetext.tools.text %}
    <h3 class="section-subheading text-muted">{{ site.data.sitetext.tools.text }}</h3>
    {% endif %}
      </div>
    </div>
  
    <div class="row text-center">
    {% for service in site.data.sitetext.tools.list %}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="{{ tools.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ service.title | markdownify }}</h4>
        {% if tools.desc %}
          <div class="text-muted">{{ tools.desc | markdownify }}</div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}
<!-- end tools -->